<% layout("/layouts/boilerplate.ejs") %>
<div>
  <h3 class="mt-3">All items</h3>

  <form method="GET" action="/products/new">
    <button class="mt-3 btn btn-dark">Add Items</button>
  </form>
  <div class="mt-3 mb-3 custom-table-container">
    <table class="custom-table">
      <thead>
        <tr class="custom-header">
          <th>No.</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Stock</th>
          <th>Supplier</th>
          <th>Date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(let product of products) {%>
        <tr class="custom-row">
          <td><%= product.num %></td>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.qty %></td>
          <td><%= product.stock %></td>
          <td><%= product.supName %></td>
          <td><%= product.dateAdded.toLocaleDateString('en-GB') %></td>
          <td>
            <a href="products/<%= product._id %>/edit">
              <button class="btn btn-dark">Edit</button>
            </a>
          </td>
          <td>
            <form
              method="POST"
              action="/products/<%= product._id %>?_method=DELETE"
            >
              <button class="btn btn-dark">Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
